<% layout('/layouts/boilerplate') -%>
    <div class="form-airbnb" id="form-airbnb">
        <div aria-labelledby="search-block-tab-STAYS" id="search-tabpanel" role="tabpanel" tabindex="-1"
            class="cbb5b2h atm_5j_1vi7ecw atm_7l_dezgoh atm_9s_1txwivl atm_e2_1k4yqc2 atm_mk_h2mmj6 atm_vy_1osqo2v atm_kd_glywfm atm_2d_1qf8lb3 atm_3f_1vlbu9m atm_70_i67ecm c12eo2r8 atm_u5paz6_1p8m8iw atm_mu5wzz_1s7alg2 atm_yo3zfk_1esdqks dir dir-ltr"
            data-panel-bounds="true">
            <div
                class="ir2ixub atm_9s_1txwivl atm_h_1h6ojuz atm_am_163v1yp atm_e2_1osqo2v atm_jb_idpfg4 atm_mj_1wugsn5 dir dir-ltr">
                <div class="qam9yc8 atm_am_iqcgjs atm_jb_idpfg4 atm_am_j1sv9b__1v156lz dir dir-ltr">
                    <div
                        class="i1iy0ljo atm_mk_h2mmj6 atm_h_1h6ojuz atm_9s_1txwivl atm_am_qk3dho atm_gi_1n1ank9 atm_jb_idpfg4 dir dir-ltr">
                        <label
                            class="ihcg2em atm_9j_tlke0l atm_9s_1ulexfb atm_2a_1u8qnfj atm_3f_okh77k atm_5j_1vi7ecw atm_am_qk3dho atm_jb_idpfg4 atm_l8_2zoau0 atm_6h_1s2714j_vmtskl atm_66_nqa18y_vmtskl atm_4b_1egtlkw_vmtskl atm_5e_idpfg4_vmtskl atm_92_1yyfdc7_vmtskl atm_9s_glywfm_vmtskl atm_e2_1vi7ecw_vmtskl atm_h3_4h84z3_vmtskl atm_mk_stnw88_vmtskl atm_n3_idpfg4_vmtskl atm_tk_1ssbidh_vmtskl atm_wq_idpfg4_vmtskl atm_2a_1u8qnfj_9in345 atm_3f_okh77k_9in345 atm_5j_1vi7ecw_9in345 atm_6i_idpfg4_9in345 atm_92_1yyfdc7_9in345 atm_fq_idpfg4_9in345 atm_mk_stnw88_9in345 atm_n3_idpfg4_9in345 atm_tk_idpfg4_9in345 atm_wq_idpfg4_9in345 i1w7syu0 atm_9s_1ulexfb_1rqz0hn atm_h0_yh40bf_9bj8xt atm_2d_um1unu_9bj8xt atm_9s_1ulexfb_1jy6zas atm_2d_1p8m8iw_1joo1sn atm_4b_1p8m8iw_1joo1sn atm_70_d987b7_1joo1sn atm_fq_idpfg4_1joo1sn atm_n3_idpfg4_1joo1sn atm_h0_yh40bf_1joo1sn dir dir-ltr"
                            for="bigsearch-query-location-input">
                            <div class="i18libcr atm_mk_h2mmj6 atm_wq_kb7nvz dir dir-ltr">
                                <div
                                    class="ikfcax3 atm_c8_1uc0753 atm_g3_lonqig atm_fr_r7vles atm_cs_9dzvea atm_le_yh40bf dir dir-ltr">
                                    Where
                                </div>
                                <input
                                    class="i18z192n atm_9s_1ulexfb atm_3f_idpfg4 atm_gi_idpfg4 atm_l8_idpfg4 atm_vy_1osqo2v atm_26_glywfm atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_cs_9dzvea atm_7l_dezgoh atm_sq_1l2sidv atm_c8_km0zk7_17x46du atm_g3_18khvle_17x46du atm_fr_1m9t47k_17x46du atm_cs_6adqpa_17x46du atm_c8_km0zk7_y5ttn9 atm_g3_18khvle_y5ttn9 atm_fr_1m9t47k_y5ttn9 atm_cs_6adqpa_y5ttn9 atm_c8_km0zk7_1k1obal atm_g3_18khvle_1k1obal atm_fr_1m9t47k_1k1obal atm_cs_6adqpa_1k1obal atm_c8_km0zk7_m14rgb atm_g3_18khvle_m14rgb atm_fr_1m9t47k_m14rgb atm_cs_6adqpa_m14rgb atm_c8_km0zk7_3ykvna atm_g3_18khvle_3ykvna atm_fr_1m9t47k_3ykvna atm_cs_6adqpa_3ykvna atm_9s_glywfm_16s2r6p atm_kd_glywfm_pfnrn2 atm_ll_1fwxnve_c2x6ez iupdi7y atm_7l_1jsbn00_17x46du atm_7l_1jsbn00_y5ttn9 atm_7l_1jsbn00_1k1obal atm_7l_1jsbn00_m14rgb atm_7l_1jsbn00_3ykvna dir dir-ltr"
                                    aria-autocomplete="none" autocomplete="off" autocorrect="off" spellcheck="false"
                                    id="bigsearch-query-location-input" name="query" type="search"
                                    aria-describedby="bigsearch-query-location-description"
                                    placeholder="Search destinations" data-testid="structured-search-input-field-query"
                                    value="" />
                            </div>
                        </label>
                    </div>
                    <div class="coy2xq9 atm_mk_stnw88 atm_tk_1osqo2v atm_26_1p8m8iw atm_5j_1vi7ecw atm_70_z3lat3 atm_gp_1fwxnve atm_iy_kqrrqd atm_l0_15vqwwr atm_l1_1wugsn5 atm_l2_1f51e7f atm_lb_4n2dxu atm_lh_swyrjs l1hvhoo atm_fq_idpfg4 hwzl8dt atm_vl_i-15vqwwr atm_mj_i-glywfm atm_k4_idpfg4 b7815u5 atm_wq_kb7nvz atm_8rg8tq_1ixj6vq atm_5sxl3l_uuw12j atm_5sxl3l_1w81w6r__1v156lz b552ge3 atm_vy_1ssbidh atm_jb_13hw3cp im0ru76 atm_anyfd1_15cdnaj atm_ypb0rd_p5ox87 dir dir-ltr"
                        data-testid="structured-search-input-field-query-panel">
                        <div class="dir dir-ltr" role="radiogroup" id="locationInspirationsSectionID"
                            aria-labelledby="locationInspirationsSectionID-DLS-chipGroup-label">
                            <div class="c1uycpqq atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_cs_1fw03zg atm_go_1ixj6vq atm_gy_1yuitx dir dir-ltr"
                                id="locationInspirationsSectionID-DLS-chipGroup-label">
                                Search by region
                            </div>
                            <div
                                class="dttmvf5 atm_9s_11p5wf0 atm_n5_i2wt44 atm_d7_idpfg4 atm_ks_15vqwwr atm_dz_zk4kx0 atm_e0_988hr2 dir dir-ltr">
                                <div
                                    class="c1q1697z atm_9s_1txwivl atm_ar_1bp4okc atm_n5_1yuitx atm_l8_1y44olf atm_l8_ftgil2__oggzyc atm_5j_qe0vi4__oggzyc atm_2d_1s7alg2_1nos8r_1jiodmv dir dir-ltr">
                                    <button
                                        class="c1y2gkhb atm_9s_1o8liyq atm_9j_tlke0l atm_r3_1h6ojuz atm_3f_uuagnh atm_l8_idpfg4 atm_gi_idpfg4 atm_4b_rke8ap atm_7l_jt7fhx atm_bx_48h72j atm_mk_h2mmj6 atm_uq_17liqq3 atm_ui_1bljbuh atm_uv_xoomkg atm_kd_glywfm atm_5j_kitwna atm_e2_1wugsn5 atm_ks_zryt35 atm_vy_1osqo2v atm_1w_gbua2q atm_2d_rke8ap atm_r2_1j28jx2 atm_7l_177r58q_1nos8r_uv4tnr atm_4b_lb1gtz_1nos8r_uv4tnr atm_7l_177r58q_csw3t1 atm_4b_lb1gtz_csw3t1 atm_tr_ybgkrq_csw3t1 atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_70_15w7q17_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_15w7q17_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_uc_aaiy6o_1s76pf2 atm_70_15w7q17_1s76pf2 atm_uc_glywfm_1s76pf2_1rrf6b5 atm_uc_aaiy6o_1y5fnfe_1oszvuo atm_70_15w7q17_1y5fnfe_1oszvuo atm_uc_glywfm_1y5fnfe_1o31aam atm_4b_rke8ap_1nos8r_1jiodmv atm_4b_rke8ap_csw3t1_oggzyc dir dir-ltr"
                                        aria-pressed="false" type="button">
                                        <img class="i123w48w atm_tl_glywfm atm_e2_1wugsn5 atm_vy_1osqo2v atm_1w_gbua2q atm_jp_1f51e7f dir dir-ltr"
                                            alt=""
                                            src="https://a0.muscache.com/pictures/f9ec8a23-ed44-420b-83e5-10ff1f071a13.jpg?im_w=320" />
                                        <span
                                            class="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts dir dir-ltr">I’m
                                            flexible</span>
                                    </button>
                                    <div>
                                        <div class="o18vo2mo atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_7l_dezgoh atm_gw_1lkvw50 atm_ks_15vqwwr atm_sq_1l2sidv atm_vv_1q9ccgz dir dir-ltr"
                                            aria-hidden="true">
                                            I’m flexible
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="c1q1697z atm_9s_1txwivl atm_ar_1bp4okc atm_n5_1yuitx atm_l8_1y44olf atm_l8_ftgil2__oggzyc atm_5j_qe0vi4__oggzyc atm_2d_1s7alg2_1nos8r_1jiodmv dir dir-ltr">
                                    <button
                                        class="c1y2gkhb atm_9s_1o8liyq atm_9j_tlke0l atm_r3_1h6ojuz atm_3f_uuagnh atm_l8_idpfg4 atm_gi_idpfg4 atm_4b_rke8ap atm_7l_jt7fhx atm_bx_48h72j atm_mk_h2mmj6 atm_uq_17liqq3 atm_ui_1bljbuh atm_uv_xoomkg atm_kd_glywfm atm_5j_kitwna atm_e2_1wugsn5 atm_ks_zryt35 atm_vy_1osqo2v atm_1w_gbua2q atm_2d_rke8ap atm_r2_1j28jx2 atm_7l_177r58q_1nos8r_uv4tnr atm_4b_lb1gtz_1nos8r_uv4tnr atm_7l_177r58q_csw3t1 atm_4b_lb1gtz_csw3t1 atm_tr_ybgkrq_csw3t1 atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_70_15w7q17_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_15w7q17_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_uc_aaiy6o_1s76pf2 atm_70_15w7q17_1s76pf2 atm_uc_glywfm_1s76pf2_1rrf6b5 atm_uc_aaiy6o_1y5fnfe_1oszvuo atm_70_15w7q17_1y5fnfe_1oszvuo atm_uc_glywfm_1y5fnfe_1o31aam atm_4b_rke8ap_1nos8r_1jiodmv atm_4b_rke8ap_csw3t1_oggzyc dir dir-ltr"
                                        aria-pressed="false" type="button">
                                        <img class="i123w48w atm_tl_glywfm atm_e2_1wugsn5 atm_vy_1osqo2v atm_1w_gbua2q atm_jp_1f51e7f dir dir-ltr"
                                            alt=""
                                            src="https://a0.muscache.com/im/pictures/7b5cf816-6c16-49f8-99e5-cbc4adfd97e2.jpg?im_w=320" />
                                        <span
                                            class="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts dir dir-ltr">Europe</span>
                                    </button>
                                    <div>
                                        <div class="o18vo2mo atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_7l_dezgoh atm_gw_1lkvw50 atm_ks_15vqwwr atm_sq_1l2sidv atm_vv_1q9ccgz dir dir-ltr"
                                            aria-hidden="true">
                                            Europe
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="c1q1697z atm_9s_1txwivl atm_ar_1bp4okc atm_n5_1yuitx atm_l8_1y44olf atm_l8_ftgil2__oggzyc atm_5j_qe0vi4__oggzyc atm_2d_1s7alg2_1nos8r_1jiodmv dir dir-ltr">
                                    <button
                                        class="c1y2gkhb atm_9s_1o8liyq atm_9j_tlke0l atm_r3_1h6ojuz atm_3f_uuagnh atm_l8_idpfg4 atm_gi_idpfg4 atm_4b_rke8ap atm_7l_jt7fhx atm_bx_48h72j atm_mk_h2mmj6 atm_uq_17liqq3 atm_ui_1bljbuh atm_uv_xoomkg atm_kd_glywfm atm_5j_kitwna atm_e2_1wugsn5 atm_ks_zryt35 atm_vy_1osqo2v atm_1w_gbua2q atm_2d_rke8ap atm_r2_1j28jx2 atm_7l_177r58q_1nos8r_uv4tnr atm_4b_lb1gtz_1nos8r_uv4tnr atm_7l_177r58q_csw3t1 atm_4b_lb1gtz_csw3t1 atm_tr_ybgkrq_csw3t1 atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_70_15w7q17_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_15w7q17_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_uc_aaiy6o_1s76pf2 atm_70_15w7q17_1s76pf2 atm_uc_glywfm_1s76pf2_1rrf6b5 atm_uc_aaiy6o_1y5fnfe_1oszvuo atm_70_15w7q17_1y5fnfe_1oszvuo atm_uc_glywfm_1y5fnfe_1o31aam atm_4b_rke8ap_1nos8r_1jiodmv atm_4b_rke8ap_csw3t1_oggzyc dir dir-ltr"
                                        aria-pressed="false" type="button">
                                        <img class="i123w48w atm_tl_glywfm atm_e2_1wugsn5 atm_vy_1osqo2v atm_1w_gbua2q atm_jp_1f51e7f dir dir-ltr"
                                            alt=""
                                            src="https://a0.muscache.com/im/pictures/a940f971-4ac1-413b-90dd-bd55965b215e.jpg?im_w=320" />
                                        <span
                                            class="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts dir dir-ltr">Mexico</span>
                                    </button>
                                    <div>
                                        <div class="o18vo2mo atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_7l_dezgoh atm_gw_1lkvw50 atm_ks_15vqwwr atm_sq_1l2sidv atm_vv_1q9ccgz dir dir-ltr"
                                            aria-hidden="true">
                                            Mexico
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="c1q1697z atm_9s_1txwivl atm_ar_1bp4okc atm_n5_1yuitx atm_l8_1y44olf atm_l8_ftgil2__oggzyc atm_5j_qe0vi4__oggzyc atm_2d_1s7alg2_1nos8r_1jiodmv dir dir-ltr">
                                    <button
                                        class="c1y2gkhb atm_9s_1o8liyq atm_9j_tlke0l atm_r3_1h6ojuz atm_3f_uuagnh atm_l8_idpfg4 atm_gi_idpfg4 atm_4b_rke8ap atm_7l_jt7fhx atm_bx_48h72j atm_mk_h2mmj6 atm_uq_17liqq3 atm_ui_1bljbuh atm_uv_xoomkg atm_kd_glywfm atm_5j_kitwna atm_e2_1wugsn5 atm_ks_zryt35 atm_vy_1osqo2v atm_1w_gbua2q atm_2d_rke8ap atm_r2_1j28jx2 atm_7l_177r58q_1nos8r_uv4tnr atm_4b_lb1gtz_1nos8r_uv4tnr atm_7l_177r58q_csw3t1 atm_4b_lb1gtz_csw3t1 atm_tr_ybgkrq_csw3t1 atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_70_15w7q17_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_15w7q17_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_uc_aaiy6o_1s76pf2 atm_70_15w7q17_1s76pf2 atm_uc_glywfm_1s76pf2_1rrf6b5 atm_uc_aaiy6o_1y5fnfe_1oszvuo atm_70_15w7q17_1y5fnfe_1oszvuo atm_uc_glywfm_1y5fnfe_1o31aam atm_4b_rke8ap_1nos8r_1jiodmv atm_4b_rke8ap_csw3t1_oggzyc dir dir-ltr"
                                        aria-pressed="false" type="button">
                                        <img class="i123w48w atm_tl_glywfm atm_e2_1wugsn5 atm_vy_1osqo2v atm_1w_gbua2q atm_jp_1f51e7f dir dir-ltr"
                                            alt=""
                                            src="https://a0.muscache.com/im/pictures/d77de9f5-5318-4571-88c7-e97d2355d20a.jpg?im_w=320" />
                                        <span
                                            class="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts dir dir-ltr">Southeast
                                            Asia</span>
                                    </button>
                                    <div>
                                        <div class="o18vo2mo atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_7l_dezgoh atm_gw_1lkvw50 atm_ks_15vqwwr atm_sq_1l2sidv atm_vv_1q9ccgz dir dir-ltr"
                                            aria-hidden="true">
                                            Southeast Asia
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="c1q1697z atm_9s_1txwivl atm_ar_1bp4okc atm_n5_1yuitx atm_l8_1y44olf atm_l8_ftgil2__oggzyc atm_5j_qe0vi4__oggzyc atm_2d_1s7alg2_1nos8r_1jiodmv dir dir-ltr">
                                    <button
                                        class="c1y2gkhb atm_9s_1o8liyq atm_9j_tlke0l atm_r3_1h6ojuz atm_3f_uuagnh atm_l8_idpfg4 atm_gi_idpfg4 atm_4b_rke8ap atm_7l_jt7fhx atm_bx_48h72j atm_mk_h2mmj6 atm_uq_17liqq3 atm_ui_1bljbuh atm_uv_xoomkg atm_kd_glywfm atm_5j_kitwna atm_e2_1wugsn5 atm_ks_zryt35 atm_vy_1osqo2v atm_1w_gbua2q atm_2d_rke8ap atm_r2_1j28jx2 atm_7l_177r58q_1nos8r_uv4tnr atm_4b_lb1gtz_1nos8r_uv4tnr atm_7l_177r58q_csw3t1 atm_4b_lb1gtz_csw3t1 atm_tr_ybgkrq_csw3t1 atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_70_15w7q17_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_15w7q17_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_uc_aaiy6o_1s76pf2 atm_70_15w7q17_1s76pf2 atm_uc_glywfm_1s76pf2_1rrf6b5 atm_uc_aaiy6o_1y5fnfe_1oszvuo atm_70_15w7q17_1y5fnfe_1oszvuo atm_uc_glywfm_1y5fnfe_1o31aam atm_4b_rke8ap_1nos8r_1jiodmv atm_4b_rke8ap_csw3t1_oggzyc dir dir-ltr"
                                        aria-pressed="false" type="button">
                                        <img class="i123w48w atm_tl_glywfm atm_e2_1wugsn5 atm_vy_1osqo2v atm_1w_gbua2q atm_jp_1f51e7f dir dir-ltr"
                                            alt=""
                                            src="https://a0.muscache.com/im/pictures/ea5598d7-2b07-4ed7-84da-d1eabd9f2714.jpg?im_w=320" />
                                        <span
                                            class="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts dir dir-ltr">Italy</span>
                                    </button>
                                    <div>
                                        <div class="o18vo2mo atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_7l_dezgoh atm_gw_1lkvw50 atm_ks_15vqwwr atm_sq_1l2sidv atm_vv_1q9ccgz dir dir-ltr"
                                            aria-hidden="true">
                                            Italy
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="c1q1697z atm_9s_1txwivl atm_ar_1bp4okc atm_n5_1yuitx atm_l8_1y44olf atm_l8_ftgil2__oggzyc atm_5j_qe0vi4__oggzyc atm_2d_1s7alg2_1nos8r_1jiodmv dir dir-ltr">
                                    <button
                                        class="c1y2gkhb atm_9s_1o8liyq atm_9j_tlke0l atm_r3_1h6ojuz atm_3f_uuagnh atm_l8_idpfg4 atm_gi_idpfg4 atm_4b_rke8ap atm_7l_jt7fhx atm_bx_48h72j atm_mk_h2mmj6 atm_uq_17liqq3 atm_ui_1bljbuh atm_uv_xoomkg atm_kd_glywfm atm_5j_kitwna atm_e2_1wugsn5 atm_ks_zryt35 atm_vy_1osqo2v atm_1w_gbua2q atm_2d_rke8ap atm_r2_1j28jx2 atm_7l_177r58q_1nos8r_uv4tnr atm_4b_lb1gtz_1nos8r_uv4tnr atm_7l_177r58q_csw3t1 atm_4b_lb1gtz_csw3t1 atm_tr_ybgkrq_csw3t1 atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_70_15w7q17_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_15w7q17_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_uc_aaiy6o_1s76pf2 atm_70_15w7q17_1s76pf2 atm_uc_glywfm_1s76pf2_1rrf6b5 atm_uc_aaiy6o_1y5fnfe_1oszvuo atm_70_15w7q17_1y5fnfe_1oszvuo atm_uc_glywfm_1y5fnfe_1o31aam atm_4b_rke8ap_1nos8r_1jiodmv atm_4b_rke8ap_csw3t1_oggzyc dir dir-ltr"
                                        aria-pressed="false" type="button">
                                        <img class="i123w48w atm_tl_glywfm atm_e2_1wugsn5 atm_vy_1osqo2v atm_1w_gbua2q atm_jp_1f51e7f dir dir-ltr"
                                            alt=""
                                            src="https://a0.muscache.com/im/pictures/06a30699-aead-492e-ad08-33ec0b383399.jpg?im_w=320" />
                                        <span
                                            class="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts dir dir-ltr">South
                                            America</span>
                                    </button>
                                    <div>
                                        <div class="o18vo2mo atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_7l_dezgoh atm_gw_1lkvw50 atm_ks_15vqwwr atm_sq_1l2sidv atm_vv_1q9ccgz dir dir-ltr"
                                            aria-hidden="true">
                                            South America
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s1w513da atm_j_1h6ojuz atm_5q_1vlbu9m atm_am_jp9ccn atm_e2_1vi7ecw dir dir-ltr"></div>
                <div class="cwk1mic atm_9s_1txwivl atm_am_eqk4pz atm_jb_idpfg4 dir dir-ltr">
                    <div
                        class="c1ddhymz atm_am_16wc86f atm_h_1h6ojuz atm_9s_1txwivl atm_gi_1n1ank9 atm_jb_idpfg4 atm_mk_h2mmj6 atm_vy_10bmcub dir dir-ltr">
                        <div class="b1spesa7 atm_1s_glywfm atm_26_1j28jx2 atm_3f_idpfg4 atm_7l_1kw7nm4 atm_9j_tlke0l atm_bx_1kw7nm4 atm_c8_1kw7nm4 atm_cs_1kw7nm4 atm_g3_1kw7nm4 atm_gi_idpfg4 atm_ks_ewfl5b atm_rd_glywfm atm_vb_1wugsn5 atm_kd_glywfm atm_9s_1ulexfb atm_am_qk3dho atm_l8_t94yts atm_r3_1e5hqsa atm_vy_idpfg4 atm_wq_kb7nvz atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_6h_1s2714j_vmtskl atm_66_nqa18y_vmtskl atm_4b_1egtlkw_vmtskl atm_92_1yyfdc7_vmtskl atm_9s_glywfm_vmtskl atm_e2_1vi7ecw_vmtskl atm_fq_idpfg4_vmtskl atm_h3_4h84z3_vmtskl atm_mk_stnw88_vmtskl atm_n3_idpfg4_vmtskl atm_tk_1ssbidh_vmtskl atm_wq_idpfg4_vmtskl atm_2a_1u8qnfj_9in345 atm_3f_okh77k_9in345 atm_5j_1vi7ecw_9in345 atm_6i_idpfg4_9in345 atm_92_1yyfdc7_9in345 atm_fq_idpfg4_9in345 atm_mk_stnw88_9in345 atm_n3_idpfg4_9in345 atm_tk_idpfg4_9in345 atm_wq_idpfg4_9in345 b1fbhdca atm_9s_1ulexfb_1rqz0hn atm_gi_eflcwz_9bj8xt atm_2d_um1unu_9bj8xt atm_wq_cs5v99_1w3cfyq atm_9s_1ulexfb_9xuho3 atm_uc_aaiy6o_1tasb51 atm_4b_dezgoh_1tasb51 atm_70_1t2bbnk_1tasb51 atm_gi_eflcwz_1tasb51 atm_uc_glywfm_1tasb51_1rrf6b5 atm_wq_cs5v99_pfnrn2_1oszvuo atm_9s_1ulexfb_1buez3b_1oszvuo atm_uc_aaiy6o_1fu4lp4_1oszvuo atm_4b_dezgoh_1fu4lp4_1oszvuo atm_70_1t2bbnk_1fu4lp4_1oszvuo atm_gi_eflcwz_1fu4lp4_1oszvuo atm_uc_glywfm_1fu4lp4_1o31aam dir dir-ltr"
                            role="button" tabindex="0" aria-expanded="false"
                            data-testid="structured-search-input-field-split-dates-0">
                            <div
                                class="cz9siyu atm_l8_srw7uq atm_ks_15vqwwr atm_mk_h2mmj6 atm_vv_1q9ccgz atm_vy_1osqo2v atm_wq_kb7nvz dir dir-ltr">
                                <div
                                    class="lk4ruxu atm_c8_1uc0753 atm_g3_lonqig atm_cs_9dzvea atm_fr_idpfg4 atm_le_yh40bf dir dir-ltr">
                                    Check in
                                </div>
                                <div
                                    class="p1m42al0 atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_cs_6adqpa atm_ks_15vqwwr atm_sq_1l2sidv atm_vy_1osqo2v p1t4vwjw atm_7l_1jsbn00 dir dir-ltr">
                                    Add dates
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="s1w513da atm_j_1h6ojuz atm_5q_1vlbu9m atm_am_jp9ccn atm_e2_1vi7ecw dir dir-ltr"></div>
                    <div
                        class="c1ddhymz atm_am_16wc86f atm_h_1h6ojuz atm_9s_1txwivl atm_gi_1n1ank9 atm_jb_idpfg4 atm_mk_h2mmj6 atm_vy_10bmcub dir dir-ltr">
                        <div class="b1spesa7 atm_1s_glywfm atm_26_1j28jx2 atm_3f_idpfg4 atm_7l_1kw7nm4 atm_9j_tlke0l atm_bx_1kw7nm4 atm_c8_1kw7nm4 atm_cs_1kw7nm4 atm_g3_1kw7nm4 atm_gi_idpfg4 atm_ks_ewfl5b atm_rd_glywfm atm_vb_1wugsn5 atm_kd_glywfm atm_9s_1ulexfb atm_am_qk3dho atm_l8_t94yts atm_r3_1e5hqsa atm_vy_idpfg4 atm_wq_kb7nvz atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_6h_1s2714j_vmtskl atm_66_nqa18y_vmtskl atm_4b_1egtlkw_vmtskl atm_92_1yyfdc7_vmtskl atm_9s_glywfm_vmtskl atm_e2_1vi7ecw_vmtskl atm_fq_idpfg4_vmtskl atm_h3_4h84z3_vmtskl atm_mk_stnw88_vmtskl atm_n3_idpfg4_vmtskl atm_tk_1ssbidh_vmtskl atm_wq_idpfg4_vmtskl atm_2a_1u8qnfj_9in345 atm_3f_okh77k_9in345 atm_5j_1vi7ecw_9in345 atm_6i_idpfg4_9in345 atm_92_1yyfdc7_9in345 atm_fq_idpfg4_9in345 atm_mk_stnw88_9in345 atm_n3_idpfg4_9in345 atm_tk_idpfg4_9in345 atm_wq_idpfg4_9in345 b1fbhdca atm_9s_1ulexfb_1rqz0hn atm_gi_eflcwz_9bj8xt atm_2d_um1unu_9bj8xt atm_wq_cs5v99_1w3cfyq atm_9s_1ulexfb_9xuho3 atm_uc_aaiy6o_1tasb51 atm_4b_dezgoh_1tasb51 atm_70_1t2bbnk_1tasb51 atm_gi_eflcwz_1tasb51 atm_uc_glywfm_1tasb51_1rrf6b5 atm_wq_cs5v99_pfnrn2_1oszvuo atm_9s_1ulexfb_1buez3b_1oszvuo atm_uc_aaiy6o_1fu4lp4_1oszvuo atm_4b_dezgoh_1fu4lp4_1oszvuo atm_70_1t2bbnk_1fu4lp4_1oszvuo atm_gi_eflcwz_1fu4lp4_1oszvuo atm_uc_glywfm_1fu4lp4_1o31aam dir dir-ltr"
                            role="button" tabindex="0" aria-expanded="false"
                            data-testid="structured-search-input-field-split-dates-1">
                            <div
                                class="cz9siyu atm_l8_srw7uq atm_ks_15vqwwr atm_mk_h2mmj6 atm_vv_1q9ccgz atm_vy_1osqo2v atm_wq_kb7nvz dir dir-ltr">
                                <div
                                    class="lk4ruxu atm_c8_1uc0753 atm_g3_lonqig atm_cs_9dzvea atm_fr_idpfg4 atm_le_yh40bf dir dir-ltr">
                                    Check out
                                </div>
                                <div
                                    class="p1m42al0 atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_cs_6adqpa atm_ks_15vqwwr atm_sq_1l2sidv atm_vy_1osqo2v p1t4vwjw atm_7l_1jsbn00 dir dir-ltr">
                                    Add dates
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s1w513da atm_j_1h6ojuz atm_5q_1vlbu9m atm_am_jp9ccn atm_e2_1vi7ecw dir dir-ltr"></div>
                <div class="c111bvlt atm_9s_1txwivl atm_1eltean_1osqo2v c1gh7ier atm_am_1qhqiko dir dir-ltr">
                    <div
                        class="c1ddhymz atm_h_1h6ojuz atm_9s_1txwivl atm_gi_1n1ank9 atm_jb_idpfg4 atm_mk_h2mmj6 atm_vy_10bmcub cggll98 atm_am_1qhqiko dir dir-ltr">
                        <div class="b1spesa7 atm_1s_glywfm atm_26_1j28jx2 atm_3f_idpfg4 atm_7l_1kw7nm4 atm_9j_tlke0l atm_bx_1kw7nm4 atm_c8_1kw7nm4 atm_cs_1kw7nm4 atm_g3_1kw7nm4 atm_gi_idpfg4 atm_ks_ewfl5b atm_rd_glywfm atm_vb_1wugsn5 atm_kd_glywfm atm_9s_1ulexfb atm_am_qk3dho atm_l8_t94yts atm_r3_1e5hqsa atm_vy_idpfg4 atm_wq_kb7nvz atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_6h_1s2714j_vmtskl atm_66_nqa18y_vmtskl atm_4b_1egtlkw_vmtskl atm_92_1yyfdc7_vmtskl atm_9s_glywfm_vmtskl atm_e2_1vi7ecw_vmtskl atm_fq_idpfg4_vmtskl atm_h3_4h84z3_vmtskl atm_mk_stnw88_vmtskl atm_n3_idpfg4_vmtskl atm_tk_1ssbidh_vmtskl atm_wq_idpfg4_vmtskl atm_2a_1u8qnfj_9in345 atm_3f_okh77k_9in345 atm_5j_1vi7ecw_9in345 atm_6i_idpfg4_9in345 atm_92_1yyfdc7_9in345 atm_fq_idpfg4_9in345 atm_mk_stnw88_9in345 atm_n3_idpfg4_9in345 atm_tk_idpfg4_9in345 atm_wq_idpfg4_9in345 b1fbhdca atm_9s_1ulexfb_1rqz0hn atm_gi_eflcwz_9bj8xt atm_2d_um1unu_9bj8xt atm_wq_cs5v99_1w3cfyq atm_9s_1ulexfb_9xuho3 atm_uc_aaiy6o_1tasb51 atm_4b_dezgoh_1tasb51 atm_70_1t2bbnk_1tasb51 atm_gi_eflcwz_1tasb51 atm_uc_glywfm_1tasb51_1rrf6b5 atm_wq_cs5v99_pfnrn2_1oszvuo atm_9s_1ulexfb_1buez3b_1oszvuo atm_uc_aaiy6o_1fu4lp4_1oszvuo atm_4b_dezgoh_1fu4lp4_1oszvuo atm_70_1t2bbnk_1fu4lp4_1oszvuo atm_gi_eflcwz_1fu4lp4_1oszvuo atm_uc_glywfm_1fu4lp4_1o31aam b1889vka atm_5q_idpfg4_agv9cz atm_h0_idpfg4_1ve49u dir dir-ltr"
                            role="button" tabindex="0" aria-expanded="false"
                            data-testid="structured-search-input-field-guests-button">
                            <div
                                class="cz9siyu atm_l8_srw7uq atm_ks_15vqwwr atm_mk_h2mmj6 atm_vv_1q9ccgz atm_vy_1osqo2v atm_wq_kb7nvz dir dir-ltr">
                                <div
                                    class="lk4ruxu atm_c8_1uc0753 atm_g3_lonqig atm_cs_9dzvea atm_fr_idpfg4 atm_le_yh40bf dir dir-ltr">
                                    Who
                                </div>
                                <div
                                    class="p1m42al0 atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_cs_6adqpa atm_ks_15vqwwr atm_sq_1l2sidv atm_vy_1osqo2v p1t4vwjw atm_7l_1jsbn00 dir dir-ltr">
                                    Add guests
                                </div>
                            </div>
                        </div>
                        <div
                            class="snd2ne0 atm_am_12336oc atm_gz_yjp0fh atm_ll_rdoju8 atm_mk_h2mmj6 atm_wq_qfx8er dir dir-ltr">
                            <button
                                class="bhtghtc atm_1s_glywfm atm_26_1j28jx2 atm_3f_idpfg4 atm_9j_tlke0l atm_9s_1o8liyq atm_bx_1kw7nm4 atm_gi_idpfg4 atm_l8_idpfg4 atm_r3_1kw7nm4 atm_rd_glywfm atm_vb_1wugsn5 atm_kd_glywfm atm_2d_r0d14n atm_5j_1tcgj5g atm_7l_1p8m8iw atm_c8_2x1prs atm_cs_9dzvea atm_e2_fyhuej atm_g3_exct8b atm_j3_fyhuej atm_ks_15vqwwr atm_mk_h2mmj6 atm_uc_rk2j2 atm_vh_nkobfv atm_wq_idpfg4 atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_2d_wl3mcu__6ldadd atm_uc_glywfm__1rrf6b5 atm_26_3ib6or_vmtskl atm_6i_idpfg4_vmtskl atm_92_1yyfdc7_vmtskl atm_fq_idpfg4_vmtskl atm_mk_stnw88_vmtskl atm_n3_idpfg4_vmtskl atm_tk_idpfg4_vmtskl atm_uc_phmiph_vmtskl atm_vz_brmitn_vmtskl atm_wq_idpfg4_vmtskl atm_uc_glywfm_vmtskl_1rrf6b5 atm_70_1kppo7g_1w3cfyq atm_70_1kppo7g_pfnrn2_1oszvuo b11im28u atm_k4_idpfg4_vmtskl atm_k4_kb7nvz_1rqz0hn dir dir-ltr"
                                type="button" data-testid="structured-search-input-search-button">
                                <div
                                    class="c1nkokj4 atm_9s_116y0ak atm_l8_exct8b atm_mk_h2mmj6 atm_wq_kb7nvz dir dir-ltr">
                                    <div class="dir dir-ltr">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"
                                            role="presentation" focusable="false"
                                            style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
                                            <path fill="none" d="M13 24a11 11 0 1 0 0-22 11 11 0 0 0 0 22zm8-3 9 9">
                                            </path>
                                        </svg>
                                    </div>
                                    <div
                                        class="l1h8x6z4 atm_k4_idpfg4 atm_lk_ftgil2 atm_ll_1y44olf atm_uc_10s88n5 atm_uc_glywfm__1rrf6b5 l4jheou atm_ud_o03ep1 dir dir-ltr">
                                        Search
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <span style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
        <%- include("../includes/sub_navbar.ejs") %>
            <div class="c1gnte13 atm_9s_glywfm atm_9s_19lyhz2__oggzyc dir dir-ltr" style="margin-bottom: 15px;">
                <div class="bocjyl3 atm_mk_h2mmj6 atm_9s_1o8liyq dir dir-ltr">
                    <button data-testid="category-bar-filter-button" id="filterPopupButton"
                        style="--filter-button_border: 1px solid var(--linaria-theme_palette-deco);" type="button"
                        class="l1ovpqvx atm_1he2i46_1k8pnbi_10saat9 atm_yxpdqi_1pv6nv4_10saat9 atm_1a0hdzc_w1h1e8_10saat9 atm_ywwsz3_1afjdsa_10saat9 atm_1lnvhrj_zhgkwc_10saat9 atm_8i46q5_63ecz1_10saat9 c14ijnw4 atm_1s_glywfm atm_9s_1o8liyq atm_kd_idpfg4 atm_2d_1j28jx2 atm_9j_tlke0l atm_tl_1gw4zv3 atm_jb_dnsvzo atm_e2_dnsvzo atm_7l_dezgoh atm_3f_1jlvua7 atm_5j_1gibeiw atm_gi_idpfg4 atm_l8_1pwasw5 atm_kd_glywfm_1w3cfyq atm_uc_aaiy6o_1w3cfyq atm_70_1snd6fg_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_kd_glywfm_pfnrn2_1oszvuo atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_1snd6fg_pfnrn2_1oszvuo atm_3f_glywfm_1icshfk_1oszvuo atm_l8_idpfg4_1icshfk_1oszvuo atm_gi_idpfg4_1icshfk_1oszvuo atm_3f_glywfm_b5gff8_1oszvuo atm_kd_glywfm_2by9w9_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_k4_1piyxwk_1o5j5ji atm_9j_13gfvf7_1o5j5ji atm_7l_jajhky_1o5j5ji atm_2d_116dmco_1vpy06o_uv4tnr atm_4b_dezgoh_1vpy06o_uv4tnr dir dir-ltr">
                        <span
                            class="i1fo7oz atm_9s_11p5wf0 atm_fe_1h6ojuz atm_h_1h6ojuz atm_d5_1bp4okc atm_lo_1lkvw50 atm_lk_8tjzot atm_ll_8tjzot atm_cx_1yuitx dir dir-ltr">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                style="display: block; fill: none; height: 16px; width: 16px; stroke: currentColor; stroke-width: 3; overflow: visible;"
                                aria-hidden="true" role="presentation" focusable="false">
                                <path fill="none"
                                    d="M7 16H3m26 0H15M29 6h-4m-8 0H3m26 20h-4M7 16a4 4 0 1 0 8 0 4 4 0 0 0-8 0zM17 6a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 20a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 0H3">
                                </path>
                            </svg>
                            <span
                                class="b1prp6wh atm_c8_1uc0753 atm_g3_lonqig atm_fr_r7vles atm_cs_9dzvea atm_9s_1ulexfb atm_tr_1qs1eib dir dir-ltr">Filters</span>
                        </span>
                    </button>
                </div>
            </div>
            <div>
                <!-- <button id="taxToggle" style="margin-left: 20px;">Show Prices With Tax</button> -->
                <div class="p4e482w atm_lk_1ixj6vq dir dir-ltr" style="margin-bottom: 15px; margin-right: 47px;">
                    <div data-pageslot="true"
                        class="c1yo0219 atm_9s_1txwivl_vmtskl atm_92_1yyfdc7_vmtskl atm_9s_1txwivl_9in345 atm_92_1yyfdc7_9in345 dir dir-ltr">
                        <div style="display: contents;" data-reactroot="">
                            <div
                                class="c4g05it atm_9s_1txwivl atm_h_1h6ojuz atm_cx_ftgil2 atm_5j_1fwxnve atm_4b_1oqmvsg atm_6h_t94yts atm_66_nqa18y atm_l8_1uuuo7i atm_j6_fyhuej atm_9j_tlke0l atm_2d_116dmco_1nos8r_uv4tnr atm_4b_dezgoh_1nos8r_uv4tnr dir dir-ltr">
                                <div class="tjrryoo atm_ax_kb7nvz dir dir-ltr" id="text-container">
                                    <div
                                        class="txqi15w atm_c8_1uc0753 atm_g3_lonqig atm_fr_r7vles atm_cs_9dzvea dir dir-ltr">
                                        Display total before taxes</div>
                                </div>
                                <button aria-checked="false" aria-labelledby="text-container" id="taxToggle1"
                                    role="switch" type="button"
                                    class="c1pmjrqe atm_5j_1vi7ecw atm_66_nqa18y atm_6h_t94yts atm_9j_tlke0l atm_mk_h2mmj6 atm_kd_glywfm atm_jb_14noui3 atm_vy_14noui3 atm_e2_p5ox87 atm_9j_13gfvf7_1o5j5ji atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_70_j7h7jn_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_j7h7jn_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam c472klm atm_2d_1en9qhd atm_4b_1en9qhd atm_2d_1vvgs7l_1o5j5ji atm_4b_1vvgs7l_1o5j5ji atm_4b_1vvgs7l_itk5vk atm_2d_16fcrbu_1astpmt atm_4b_16fcrbu_1astpmt atm_4b_16fcrbu_aast5o dir dir-ltr">
                                    <div
                                        class="s1yktc2s atm_5j_1ssbidh atm_66_nqa18y atm_fq_1n1ank9 atm_mk_stnw88 atm_tk_1n1ank9 atm_tr_1jbocfw atm_2d_1qwqy05 atm_9s_1txwivl atm_h_1h6ojuz atm_fc_1h6ojuz atm_6h_yh40bf atm_uc_5cp38c atm_e2_p5ox87 atm_vy_p5ox87 atm_uc_glywfm__1rrf6b5 atm_4b_1k0ymf0_1o5j5ji atm_7l_9vytuy_1o5j5ji s1aked77 atm_4b_1en9qhd dir dir-ltr">
                                    </div>
                                </button>
                                <button aria-checked="true" style="display: none;" id="taxToggle2"
                                    aria-labelledby="text-container" role="switch" type="button"
                                    class="c1pmjrqe atm_5j_1vi7ecw atm_66_nqa18y atm_6h_t94yts atm_9j_tlke0l atm_mk_h2mmj6 atm_kd_glywfm atm_jb_14noui3 atm_vy_14noui3 atm_e2_p5ox87 atm_9j_13gfvf7_1o5j5ji atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_70_j7h7jn_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_j7h7jn_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam cgjovh9 atm_2d_1qnzqti atm_4b_1qnzqti atm_2d_1k0ymf0_1o5j5ji atm_4b_1k0ymf0_1o5j5ji atm_4b_1k0ymf0_itk5vk dir dir-ltr">
                                    <div
                                        class="s1yktc2s atm_5j_1ssbidh atm_66_nqa18y atm_fq_1n1ank9 atm_mk_stnw88 atm_tk_1n1ank9 atm_2d_1qwqy05 atm_9s_1txwivl atm_h_1h6ojuz atm_fc_1h6ojuz atm_6h_yh40bf atm_uc_5cp38c atm_e2_p5ox87 atm_vy_p5ox87 atm_uc_glywfm__1rrf6b5 atm_4b_1k0ymf0_1o5j5ji atm_7l_9vytuy_1o5j5ji s16dvoaf atm_4b_1qnzqti atm_7l_jt7fhx atm_tr_1oj03c8 dir dir-ltr">
                                        <svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                            role="presentation" focusable="false"
                                            style="display: block; height: 12px; width: 12px; fill: currentcolor;">
                                            <path
                                                d="m10.5 1.939 1.061 1.061-7.061 7.061-.53-.531-3-3-.531-.53 1.061-1.061 3 3 5.47-5.469z">
                                            </path>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </span>
    <%- include("../includes/filter_popup.ejs") %>
        <div class="mt-3" style="padding: 75px; padding-top: 0px; margin-top: 0px !important;">
            <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-1 row-cols-xs-1">
                <% for(let listing of allListings) { %>
                    <div class="card col">
                        <button
                            style="position: relative; left: calc(20rem - 36px); top: calc(2rem + 5px); border-radius: 50% !important; z-index: 100;"
                            aria-label="Share listing" type="button"
                            class="l1ovpqvx atm_1he2i46_1k8pnbi_10saat9 atm_yxpdqi_1pv6nv4_10saat9 atm_1a0hdzc_w1h1e8_10saat9 atm_ywwsz3_1afjdsa_10saat9 atm_1lnvhrj_zhgkwc_10saat9 atm_8i46q5_63ecz1_10saat9 cz6qhuf atm_1s_glywfm atm_5j_1ssbidh atm_9j_tlke0l atm_tl_1gw4zv3 atm_9s_116y0ak atm_h_1h6ojuz atm_fc_1h6ojuz atm_l8_idpfg4 atm_gi_idpfg4 atm_7l_jt7fhx atm_kd_glywfm atm_vy_1vi7ecw atm_e2_1vi7ecw atm_kd_glywfm_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_kd_glywfm_pfnrn2_1oszvuo atm_l8_idpfg4_1icshfk_1oszvuo atm_gi_idpfg4_1icshfk_1oszvuo atm_3f_glywfm_b5gff8_1oszvuo atm_kd_glywfm_2by9w9_1oszvuo atm_k4_1piyxwk_1o5j5ji atm_9j_13gfvf7_1o5j5ji atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_4b_1qnzqti_1w3cfyq atm_26_1qwqy05_1w3cfyq atm_7l_jt7fhx_1w3cfyq atm_70_5ilard_1w3cfyq atm_tr_m1zi52_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_4b_1qnzqti_pfnrn2_1oszvuo atm_26_1qwqy05_pfnrn2_1oszvuo atm_7l_jt7fhx_pfnrn2_1oszvuo atm_70_5ilard_pfnrn2_1oszvuo atm_tr_m1zi52_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_4b_muzi1o_1nos8r_uv4tnr atm_2d_1qwqy05_1nos8r_uv4tnr atm_7l_177r58q_1nos8r_uv4tnr atm_70_12rfm42_1nos8r_uv4tnr atm_tr_m1zi52_1nos8r_uv4tnr atm_4b_1k0ymf0_4fughm_uv4tnr atm_2d_1qwqy05_4fughm_uv4tnr atm_7l_9vytuy_4fughm_uv4tnr atm_70_glywfm_4fughm_uv4tnr atm_tr_1h7a3po_4fughm_uv4tnr atm_4b_muzi1o_csw3t1 atm_7l_177r58q_csw3t1 atm_70_glywfm_csw3t1 atm_4b_1k0ymf0_1o5j5ji atm_2d_1qwqy05_1o5j5ji atm_7l_9vytuy_1o5j5ji atm_70_glywfm_1o5j5ji atm_tr_1h7a3po_1o5j5ji ch8k11a atm_mj_1wugsn5 atm_3f_glywfm atm_mk_h2mmj6 atm_26_hnb3id atm_70_1si461l atm_20_112yz0h atm_uc_1mnuevs atm_mk_stnw88_vmtskl atm_tk_grho7r_vmtskl atm_fq_idpfg4_vmtskl atm_n3_idpfg4_vmtskl atm_6i_idpfg4_vmtskl atm_5j_1ssbidh_vmtskl atm_3f_1uw5ze2_vmtskl atm_26_119y5nj_vmtskl atm_hr_7lhu8g_vmtskl atm_i8_1p67fjf_vmtskl atm_92_1yyfdc7_vmtskl atm_tr_idn7q2_csw3t1 atm_2d_1vvqmr9_csw3t1 dir dir-ltr"
                            data-id="<%= listing._id %>" onclick="showListingDetails(event)">
                            <span class="isqgmsg dir dir-ltr">
                                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    role="presentation" focusable="false"
                                    style="display: block; fill: none; height: 14px; width: 14px; stroke: currentcolor; stroke-width: 3.42857; overflow: visible;">
                                    <path
                                        d="m27 18v9c0 1.1046-.8954 2-2 2h-18c-1.10457 0-2-.8954-2-2v-9m11-15v21m-10-11 9.2929-9.29289c.3905-.39053 1.0237-.39053 1.4142 0l9.2929 9.29289"
                                        fill="none"></path>
                                </svg>
                                <div class="o1w98vdz"></div>
                            </span>
                        </button>
                        <a href="/listings/<%= listing._id %>" class="listing-link">
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                                style="height: 20rem; width: 20rem !important;" />

                            <div class="card-body">
                                <% if (listing.price) { %>
                                    <p class="card-text">
                                        <b>
                                            <%= listing.title %> -
                                                <span class="countries" style="display: inline;">
                                                    <%= listing.country %>
                                                </span>
                                        </b>
                                        <br />
                                        <span class="price" data-currency="USD">$ <%= listing.price.toLocaleString() %>
                                        </span>
                                        / night
                                    </p>
                                    <% } else { %>
                                        <p class="card-text">
                                            <b>
                                                <%= listing.title %>
                                            </b>
                                            <br />
                                            Price unavailable
                                        </p>
                                        <% } %>
                            </div>
                        </a>
                    </div>
                    <% } %>
            </div>
            <div id="listingDetails"></div>
            <div>
                <div dir="ltr" id="shareListing" style="display: none;">
                    <div data-theme="" class="t1bgcr6e  cjz5kiq"
                        style="--linaria-theme_typography-title-small22px-letter-spacing: -0.01375rem; --linaria-theme_typography-title-medium26px-letter-spacing: -0.01625rem; --linaria-theme_typography-title-large32px-letter-spacing: -0.04rem; --linaria-theme_typography-special-display-medium_40_44-letter-spacing: -0.05rem; --linaria-theme_typography-special-display-medium_48_54-letter-spacing: -0.06rem; --linaria-theme_typography-special-display-medium_60_68-letter-spacing: -0.15rem; --linaria-theme_typography-special-display-medium_72_74-letter-spacing: -0.18rem;">
                        <div
                            class="o30qrr6 atm_wq_z68epy atm_mk_1n9t6rb atm_tk_idpfg4 atm_n3_idpfg4 atm_6i_idpfg4 atm_fq_idpfg4 atm_l1_1wugsn5 atm_kx_i4x0gi atm_26_dezgoh atm_y_1bbsqr7 atm_16_kb7nvz atm_12_1hrf63d atm_1c_5nv0a1 atm_1k_10p890i atm_26_dezgoh__oggzyc o19htd17 dir dir-ltr">
                        </div>
                        <section>
                            <div class="c1wj82si atm_wq_z68epy atm_mk_1n9t6rb atm_tk_idpfg4 atm_n3_idpfg4 atm_6i_idpfg4 atm_fq_idpfg4 atm_iy_18ock4e atm_lo_10kf5qn atm_9s_1txwivl atm_ar_vrvcex atm_h_esu3gu atm_fc_1h6ojuz atm_iy_uat40h__js3chn atm_l8_1ylpe5n__1d8hi0p atm_h_1h6ojuz__1d8hi0p atm_h_1fhbwtr__a0n626 dir dir-ltr"
                                data-testid="modal-container">
                                <div class="p1psejvv atm_9s_1bgihbq dir dir-ltr">
                                    <div class="fz4xk0c atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts atm_h3_1n1ank9 dir dir-ltr"
                                        aria-hidden="true" tabindex="0"></div>
                                    <div class="p1psejvv atm_9s_1bgihbq dir dir-ltr">
                                        <div role="dialog" aria-label="Share this experience" aria-modal="true"
                                            class="d1esrtf4 atm_ks_zryt35 atm_mk_h2mmj6 atm_26_1qwqy05 atm_vy_auwlz6 atm_j3_auwlz6 atm_iy_1osqo2v atm_9s_1txwivl atm_ar_1bp4okc atm_70_rgs8xj atm_6a_kitwna atm_6c_kitwna atm_16_kb7nvz atm_12_1hrf63d atm_1c_1df72cm atm_1k_1v897lg atm_y_t52gbv atm_tw_uaqxkr atm_im2n7a_1osqo2v atm_189k8xb_1osqo2v atm_ks_15vqwwr__1yj3dog atm_kd_glywfm_pfnrn2 atm_vy_1osqo2v__oggzyc atm_j3_1oh5ri2__oggzyc atm_5j_kitwna__oggzyc atm_16_kb7nvz__oggzyc atm_12_1hrf63d__oggzyc atm_1c_ip976y__oggzyc atm_y_vegxqt__oggzyc atm_1k_so3mv5__oggzyc atm_tw_uaqxkr__oggzyc atm_im2n7a_n7od8j__oggzyc atm_189k8xb_n7od8j__oggzyc atm_1c_w5iguh__1rrf6b5 atm_y_t0utr__1rrf6b5 atm_1k_1ar7sfh__1rrf6b5 d1pfb5z4 dir dir-ltr"
                                            tabindex="-1" style="position: relative;">
                                            <div
                                                class="c11vnb9k atm_mk_stnw88 atm_9s_1txwivl atm_tk_exct8b atm_fq_1tcgj5g atm_wq_kb7nvz atm_1wn1q82_xond3e atm_tk_1tcgj5g__oggzyc dir dir-ltr">
                                                <button aria-label="Close" type="button"
                                                    class="l1ovpqvx atm_1he2i46_1k8pnbi_10saat9 atm_yxpdqi_1pv6nv4_10saat9 atm_1a0hdzc_w1h1e8_10saat9 atm_ywwsz3_1afjdsa_10saat9 atm_1lnvhrj_zhgkwc_10saat9 atm_8i46q5_63ecz1_10saat9 c1h5tsj6 atm_1s_glywfm atm_5j_1ssbidh atm_9j_tlke0l atm_tl_1gw4zv3 atm_9s_1o8liyq atm_mk_h2mmj6 atm_l8_idpfg4 atm_gi_idpfg4 atm_3f_glywfm atm_26_1j28jx2 atm_7l_hkljqm atm_uc_10d7vwn atm_kd_glywfm atm_kd_glywfm_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_kd_glywfm_pfnrn2_1oszvuo atm_l8_idpfg4_1icshfk_1oszvuo atm_gi_idpfg4_1icshfk_1oszvuo atm_3f_glywfm_b5gff8_1oszvuo atm_kd_glywfm_2by9w9_1oszvuo atm_k4_1piyxwk_1o5j5ji atm_9j_13gfvf7_1o5j5ji atm_uc_glywfm__1rrf6b5 atm_7l_wbi19n_1nos8r_uv4tnr atm_26_zbnr2t_1rqz0hn_uv4tnr atm_7l_1wxwdr3_4fughm_uv4tnr atm_26_1j28jx2_1r92pmq_uv4tnr atm_7l_wbi19n_csw3t1 atm_tr_ffmgpj_csw3t1 atm_26_zbnr2t_1ul2smo atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_70_glywfm_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_70_1e7pbig_9xuho3 atm_26_zbnr2t_9xuho3 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_glywfm_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_70_1e7pbig_1buez3b_1oszvuo atm_26_zbnr2t_1buez3b_1oszvuo atm_7l_1wxwdr3_1o5j5ji atm_26_1j28jx2_154oz7f atm_92_1yyfdc7_vmtskl atm_9s_1ulexfb_vmtskl atm_mk_stnw88_vmtskl atm_tk_1ssbidh_vmtskl atm_fq_1ssbidh_vmtskl atm_tr_pryxvc_vmtskl atm_5j_1ssbidh_vmtskl atm_vy_1vi7ecw_vmtskl atm_e2_1vi7ecw_vmtskl dir dir-ltr"
                                                    id="shareListingButton"><span
                                                        class="i3tjjh1 atm_mk_h2mmj6 dir dir-ltr"><svg
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                                            aria-hidden="true" role="presentation" focusable="false"
                                                            style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                                                            <path d="m6 6 20 20M26 6 6 26"></path>
                                                        </svg></span></button>
                                            </div>
                                            <div
                                                class="b98pgng atm_l8_1tcgj5g atm_am_ggq5uc atm_l1_1vytu3b atm_kx_i4x0gi atm_7l_jt7fhx atm_kd_glywfm atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_70_s7rhb2_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_70_s7rhb2_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam dir dir-ltr">
                                                <section>
                                                    <h2 tabindex="-1"
                                                        class="hpipapi atm_7l_1kw7nm4 atm_c8_1x4eueo atm_cs_1kw7nm4 atm_g3_1kw7nm4 atm_gi_idpfg4 atm_l8_idpfg4 atm_kd_idpfg4_pfnrn2 dir dir-ltr"
                                                        elementtiming="LCP-target">
                                                        <div
                                                            class="s1r1iia9 atm_c8_11rlvjh atm_g3_1xap3gc atm_fr_1xai86l atm_h3_1od0ugv atm_gq_1ph3nq8 atm_cs_9dzvea atm_7l_dezgoh atm_9s_1ulexfb dir dir-ltr">
                                                            Share this listing</div>
                                                    </h2>
                                                    <div
                                                        class="p1lq2gty atm_9s_1txwivl atm_h_1h6ojuz atm_h3_1ph3nq8 atm_gq_1ph3nq8 dir dir-ltr">
                                                        <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTEzMTA4MzUyMzk5Mjc3MDU5Nw%3D%3D/original/d62c78db-3c98-46e7-8566-d685d5c689f3.png?im_w=720"
                                                            alt=""
                                                            class="p10tcab8 atm_j3_1osqo2v atm_vy_1jcdlzj atm_e2_1jcdlzj atm_5j_t09oo2 atm_9s_1o8liyq atm_jp_1dfr4pj atm_h0_8tjzot dir dir-ltr">
                                                        <div class="pauxuom atm_c8_2x1prs atm_g3_1jbyh58 atm_fr_11a07z3 atm_7l_dezgoh dir dir-ltr"
                                                            id="shareListingContent">
                                                            Make core memories with Inside Out 2</div>
                                                    </div>
                                                    <div
                                                        class="czq4amx atm_9s_11p5wf0 atm_dz_oxnul2 atm_cx_8tjzot dir dir-ltr">
                                                        <div
                                                            class="cm1n1wp atm_vy_1osqo2v atm_e2_12am3vd atm_kd_glywfm atm_9j_tlke0l atm_3f_1vlbu9m atm_5j_kitwna atm_73_usvi9m atm_26_1p8m8iw atm_26_116dmco_1nos8r dir dir-ltr">
                                                            <button role="button" type="button" id="copy-link-button"
                                                                class="copy-link-button l1ovpqvx atm_1he2i46_1k8pnbi_10saat9 atm_yxpdqi_1pv6nv4_10saat9 atm_1a0hdzc_w1h1e8_10saat9 atm_ywwsz3_1afjdsa_10saat9 atm_1lnvhrj_zhgkwc_10saat9 atm_8i46q5_63ecz1_10saat9 bbkw4bl atm_9j_tlke0l atm_mk_h2mmj6 atm_70_5j5alw atm_tl_1gw4zv3 atm_9j_13gfvf7_1o5j5ji c1rxa9od atm_fr_11a07z3 atm_uc_1lizyuv atm_r2_1j28jx2 atm_26_1j28jx2 atm_3f_glywfm atm_5j_idpfg4 atm_7l_1kw7nm4 atm_9s_1ulexfb atm_gi_idpfg4 atm_l8_idpfg4 atm_r3_1kw7nm4 atm_rd_glywfm atm_e2_1osqo2v atm_vy_1osqo2v atm_bx_1kw7nm4 atm_c8_1kw7nm4 atm_g3_1kw7nm4 atm_cs_1kw7nm4 atm_kd_glywfm atm_uc_glywfm__1rrf6b5 atm_kd_glywfm_1w3cfyq atm_70_1b8lkes_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_kd_glywfm_pfnrn2_1oszvuo atm_70_1b8lkes_pfnrn2_1oszvuo atm_l8_idpfg4_1icshfk_1oszvuo atm_gi_idpfg4_1icshfk_1oszvuo atm_3f_glywfm_b5gff8_1oszvuo atm_kd_glywfm_2by9w9_1oszvuo atm_k4_kb7nvz_1o5j5ji atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_tr_glywfm_csw3t1 dir dir-ltr">
                                                                <div
                                                                    class="fgxpl5o atm_9s_1txwivl atm_h_1h6ojuz dir dir-ltr">
                                                                    <div
                                                                        class="ix1voun atm_gz_8tjzot atm_h0_1ixj6vq atm_5j_1896hn4 atm_ks_15vqwwr dir dir-ltr">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 16 16" aria-hidden="true"
                                                                            role="presentation" focusable="false"
                                                                            style="display: block; height: 20px; width: 20px; fill: currentcolor;">
                                                                            <path
                                                                                d="M11.5 3A2.5 2.5 0 0 1 14 5.34v7.16a2.5 2.5 0 0 1-2.34 2.5H6.5A2.5 2.5 0 0 1 4 12.66V5.5A2.5 2.5 0 0 1 6.34 3h5.16zM12 .25v1.5H6a3.25 3.25 0 0 0-3.25 3.07V11h-1.5V5A4.75 4.75 0 0 1 5.78.25H12z">
                                                                            </path>
                                                                        </svg>
                                                                    </div>
                                                                    <div
                                                                        class="cygf5r8 atm_c8_2x1prs atm_g3_1jbyh58 atm_fr_11a07z3 atm_cs_9dzvea atm_ks_15vqwwr atm_7l_dezgoh atm_vv_1q9ccgz atm_sq_1l2sidv dir dir-ltr">
                                                                        Copy Link</div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                        <div
                                                            class="cm1n1wp atm_vy_1osqo2v atm_e2_12am3vd atm_kd_glywfm atm_9j_tlke0l atm_3f_1vlbu9m atm_5j_kitwna atm_73_usvi9m atm_26_1p8m8iw atm_26_116dmco_1nos8r dir dir-ltr">
                                                            <button role="link" type="button"
                                                                class="l1ovpqvx atm_1he2i46_1k8pnbi_10saat9 atm_yxpdqi_1pv6nv4_10saat9 atm_1a0hdzc_w1h1e8_10saat9 atm_ywwsz3_1afjdsa_10saat9 atm_1lnvhrj_zhgkwc_10saat9 atm_8i46q5_63ecz1_10saat9 bbkw4bl atm_9j_tlke0l atm_mk_h2mmj6 atm_70_5j5alw atm_tl_1gw4zv3 atm_9j_13gfvf7_1o5j5ji c1rxa9od atm_fr_11a07z3 atm_uc_1lizyuv atm_r2_1j28jx2 atm_26_1j28jx2 atm_3f_glywfm atm_5j_idpfg4 atm_7l_1kw7nm4 atm_9s_1ulexfb atm_gi_idpfg4 atm_l8_idpfg4 atm_r3_1kw7nm4 atm_rd_glywfm atm_e2_1osqo2v atm_vy_1osqo2v atm_bx_1kw7nm4 atm_c8_1kw7nm4 atm_g3_1kw7nm4 atm_cs_1kw7nm4 atm_kd_glywfm atm_uc_glywfm__1rrf6b5 atm_kd_glywfm_1w3cfyq atm_70_1b8lkes_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_kd_glywfm_pfnrn2_1oszvuo atm_70_1b8lkes_pfnrn2_1oszvuo atm_l8_idpfg4_1icshfk_1oszvuo atm_gi_idpfg4_1icshfk_1oszvuo atm_3f_glywfm_b5gff8_1oszvuo atm_kd_glywfm_2by9w9_1oszvuo atm_k4_kb7nvz_1o5j5ji atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_tr_glywfm_csw3t1 dir dir-ltr">
                                                                <div
                                                                    class="fgxpl5o atm_9s_1txwivl atm_h_1h6ojuz dir dir-ltr">
                                                                    <div
                                                                        class="ix1voun atm_gz_8tjzot atm_h0_1ixj6vq atm_5j_1896hn4 atm_ks_15vqwwr dir dir-ltr">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 32 32" aria-hidden="true"
                                                                            role="presentation" focusable="false"
                                                                            style="display: block; height: 20px; width: 20px; fill: currentcolor;">
                                                                            <path
                                                                                d="M32 2v28a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2C0 .9.9 0 2 0h28a2 2 0 0 1 2 2z">
                                                                            </path>
                                                                            <path fill="#fff"
                                                                                d="M7.01 9.1c-.17 0-.33.03-.48.09l3.01 3.1 3.05 3.15.05.07.1.09.08.09.18.19 2.61 2.68c.04.02.17.14.27.19.13.06.26.12.4.13.16 0 .31-.04.45-.11.1-.05.15-.12.27-.21l3.02-3.13 3.06-3.14 2.94-3.03a1.3 1.3 0 0 0-.62-.16zm-.92.38c-.32.3-.52.76-.52 1.28v10.17c0 .42.13.8.35 1.1l.42-.4 3.15-3.06 2.79-2.7-.06-.07-3.05-3.14L6.1 9.5zm20.33.1-2.98 3.08-3.04 3.14-.06.06 2.9 2.8 3.15 3.06.19.18c.17-.27.26-.6.26-.97V10.76c0-.46-.16-.88-.42-1.18zm-13.79 6.65-2.77 2.7L6.7 22l-.4.39c.21.13.45.22.71.22H25.4c.31 0 .6-.12.83-.31l-.2-.2-3.15-3.06-2.9-2.8-2.61 2.7c-.14.09-.24.19-.38.25-.22.1-.46.2-.7.19-.25 0-.5-.1-.71-.2-.11-.06-.17-.12-.3-.23z">
                                                                            </path>
                                                                        </svg>
                                                                    </div>
                                                                    <div
                                                                        class="cygf5r8 atm_c8_2x1prs atm_g3_1jbyh58 atm_fr_11a07z3 atm_cs_9dzvea atm_ks_15vqwwr atm_7l_dezgoh atm_vv_1q9ccgz atm_sq_1l2sidv dir dir-ltr">
                                                                        Email</div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                        <div
                                                            class="cm1n1wp atm_vy_1osqo2v atm_e2_12am3vd atm_kd_glywfm atm_9j_tlke0l atm_3f_1vlbu9m atm_5j_kitwna atm_73_usvi9m atm_26_1p8m8iw atm_26_116dmco_1nos8r dir dir-ltr">
                                                            <button role="link" type="button"
                                                                class="l1ovpqvx atm_1he2i46_1k8pnbi_10saat9 atm_yxpdqi_1pv6nv4_10saat9 atm_1a0hdzc_w1h1e8_10saat9 atm_ywwsz3_1afjdsa_10saat9 atm_1lnvhrj_zhgkwc_10saat9 atm_8i46q5_63ecz1_10saat9 bbkw4bl atm_9j_tlke0l atm_mk_h2mmj6 atm_70_5j5alw atm_tl_1gw4zv3 atm_9j_13gfvf7_1o5j5ji c1rxa9od atm_fr_11a07z3 atm_uc_1lizyuv atm_r2_1j28jx2 atm_26_1j28jx2 atm_3f_glywfm atm_5j_idpfg4 atm_7l_1kw7nm4 atm_9s_1ulexfb atm_gi_idpfg4 atm_l8_idpfg4 atm_r3_1kw7nm4 atm_rd_glywfm atm_e2_1osqo2v atm_vy_1osqo2v atm_bx_1kw7nm4 atm_c8_1kw7nm4 atm_g3_1kw7nm4 atm_cs_1kw7nm4 atm_kd_glywfm atm_uc_glywfm__1rrf6b5 atm_kd_glywfm_1w3cfyq atm_70_1b8lkes_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_kd_glywfm_pfnrn2_1oszvuo atm_70_1b8lkes_pfnrn2_1oszvuo atm_l8_idpfg4_1icshfk_1oszvuo atm_gi_idpfg4_1icshfk_1oszvuo atm_3f_glywfm_b5gff8_1oszvuo atm_kd_glywfm_2by9w9_1oszvuo atm_k4_kb7nvz_1o5j5ji atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_tr_glywfm_csw3t1 dir dir-ltr">
                                                                <div
                                                                    class="fgxpl5o atm_9s_1txwivl atm_h_1h6ojuz dir dir-ltr">
                                                                    <div
                                                                        class="ix1voun atm_gz_8tjzot atm_h0_1ixj6vq atm_5j_1896hn4 atm_ks_15vqwwr dir dir-ltr">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 32 32" aria-hidden="true"
                                                                            role="presentation" focusable="false"
                                                                            style="display: block; height: 20px; width: 20px; fill: currentcolor;">
                                                                            <path
                                                                                d="M2 0h28a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z">
                                                                            </path>
                                                                            <path fill="#fff"
                                                                                d="M15.8 5.47c-6.4 0-11.6 4.32-11.6 9.66 0 3.39 2.14 6.52 5.63 8.27a9.16 9.16 0 0 1-2.02 2.83c1.71-.3 3.33-.93 4.7-1.85 1.07.27 2.18.4 3.29.4 6.4 0 11.6-4.32 11.6-9.65 0-5.34-5.2-9.66-11.6-9.66z">
                                                                            </path>
                                                                        </svg>
                                                                    </div>
                                                                    <div
                                                                        class="cygf5r8 atm_c8_2x1prs atm_g3_1jbyh58 atm_fr_11a07z3 atm_cs_9dzvea atm_ks_15vqwwr atm_7l_dezgoh atm_vv_1q9ccgz atm_sq_1l2sidv dir dir-ltr">
                                                                        Messages</div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                        <div
                                                            class="cm1n1wp atm_vy_1osqo2v atm_e2_12am3vd atm_kd_glywfm atm_9j_tlke0l atm_3f_1vlbu9m atm_5j_kitwna atm_73_usvi9m atm_26_1p8m8iw atm_26_116dmco_1nos8r dir dir-ltr">
                                                            <button role="link" type="button"
                                                                class="l1ovpqvx atm_1he2i46_1k8pnbi_10saat9 atm_yxpdqi_1pv6nv4_10saat9 atm_1a0hdzc_w1h1e8_10saat9 atm_ywwsz3_1afjdsa_10saat9 atm_1lnvhrj_zhgkwc_10saat9 atm_8i46q5_63ecz1_10saat9 bbkw4bl atm_9j_tlke0l atm_mk_h2mmj6 atm_70_5j5alw atm_tl_1gw4zv3 atm_9j_13gfvf7_1o5j5ji c1rxa9od atm_fr_11a07z3 atm_uc_1lizyuv atm_r2_1j28jx2 atm_26_1j28jx2 atm_3f_glywfm atm_5j_idpfg4 atm_7l_1kw7nm4 atm_9s_1ulexfb atm_gi_idpfg4 atm_l8_idpfg4 atm_r3_1kw7nm4 atm_rd_glywfm atm_e2_1osqo2v atm_vy_1osqo2v atm_bx_1kw7nm4 atm_c8_1kw7nm4 atm_g3_1kw7nm4 atm_cs_1kw7nm4 atm_kd_glywfm atm_uc_glywfm__1rrf6b5 atm_kd_glywfm_1w3cfyq atm_70_1b8lkes_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_kd_glywfm_pfnrn2_1oszvuo atm_70_1b8lkes_pfnrn2_1oszvuo atm_l8_idpfg4_1icshfk_1oszvuo atm_gi_idpfg4_1icshfk_1oszvuo atm_3f_glywfm_b5gff8_1oszvuo atm_kd_glywfm_2by9w9_1oszvuo atm_k4_kb7nvz_1o5j5ji atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_tr_glywfm_csw3t1 dir dir-ltr">
                                                                <div
                                                                    class="fgxpl5o atm_9s_1txwivl atm_h_1h6ojuz dir dir-ltr">
                                                                    <div
                                                                        class="ix1voun atm_gz_8tjzot atm_h0_1ixj6vq atm_5j_1896hn4 atm_ks_15vqwwr dir dir-ltr">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 32 32" aria-hidden="true"
                                                                            role="presentation" focusable="false"
                                                                            style="display: block; height: 20px; width: 20px; fill: currentcolor;">
                                                                            <path
                                                                                d="M30 0a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z">
                                                                            </path>
                                                                            <path fill="#fff"
                                                                                d="m4 28 1.7-6.16a11.82 11.82 0 0 1-1.6-5.95 11.94 11.94 0 0 1 20.4-8.4A11.8 11.8 0 0 1 28 15.9a11.94 11.94 0 0 1-17.67 10.45zm6.63-3.8a9.93 9.93 0 0 0 15.35-8.3A9.9 9.9 0 0 0 16.05 6a9.92 9.92 0 0 0-9.93 9.9c0 2.22.65 3.88 1.75 5.63l-1 3.64 3.76-.98zm11.36-5.52c-.07-.13-.27-.2-.57-.35-.3-.15-1.75-.86-2.03-.96-.27-.1-.46-.15-.66.15s-.77.96-.94 1.16-.35.22-.65.07c-.3-.15-1.25-.46-2.38-1.47-.88-.78-1.48-1.75-1.65-2.04s-.02-.46.13-.6l.44-.52c.15-.17.2-.3.3-.5.1-.2.05-.36-.02-.51-.08-.15-.67-1.6-.92-2.2-.24-.57-.48-.5-.66-.5l-.57-.01c-.2 0-.52.07-.8.37-.27.3-1.03 1.01-1.03 2.46s1.06 2.86 1.2 3.06c.16.2 2.1 3.18 5.08 4.46.7.3 1.26.48 1.69.62.7.22 1.36.19 1.87.11.57-.08 1.75-.71 2-1.4s.25-1.28.17-1.4z">
                                                                            </path>
                                                                        </svg>
                                                                    </div>
                                                                    <div
                                                                        class="cygf5r8 atm_c8_2x1prs atm_g3_1jbyh58 atm_fr_11a07z3 atm_cs_9dzvea atm_ks_15vqwwr atm_7l_dezgoh atm_vv_1q9ccgz atm_sq_1l2sidv dir dir-ltr">
                                                                        WhatsApp</div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                        <div
                                                            class="cm1n1wp atm_vy_1osqo2v atm_e2_12am3vd atm_kd_glywfm atm_9j_tlke0l atm_3f_1vlbu9m atm_5j_kitwna atm_73_usvi9m atm_26_1p8m8iw atm_26_116dmco_1nos8r dir dir-ltr">
                                                            <button role="link" type="button"
                                                                class="l1ovpqvx atm_1he2i46_1k8pnbi_10saat9 atm_yxpdqi_1pv6nv4_10saat9 atm_1a0hdzc_w1h1e8_10saat9 atm_ywwsz3_1afjdsa_10saat9 atm_1lnvhrj_zhgkwc_10saat9 atm_8i46q5_63ecz1_10saat9 bbkw4bl atm_9j_tlke0l atm_mk_h2mmj6 atm_70_5j5alw atm_tl_1gw4zv3 atm_9j_13gfvf7_1o5j5ji c1rxa9od atm_fr_11a07z3 atm_uc_1lizyuv atm_r2_1j28jx2 atm_26_1j28jx2 atm_3f_glywfm atm_5j_idpfg4 atm_7l_1kw7nm4 atm_9s_1ulexfb atm_gi_idpfg4 atm_l8_idpfg4 atm_r3_1kw7nm4 atm_rd_glywfm atm_e2_1osqo2v atm_vy_1osqo2v atm_bx_1kw7nm4 atm_c8_1kw7nm4 atm_g3_1kw7nm4 atm_cs_1kw7nm4 atm_kd_glywfm atm_uc_glywfm__1rrf6b5 atm_kd_glywfm_1w3cfyq atm_70_1b8lkes_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_kd_glywfm_pfnrn2_1oszvuo atm_70_1b8lkes_pfnrn2_1oszvuo atm_l8_idpfg4_1icshfk_1oszvuo atm_gi_idpfg4_1icshfk_1oszvuo atm_3f_glywfm_b5gff8_1oszvuo atm_kd_glywfm_2by9w9_1oszvuo atm_k4_kb7nvz_1o5j5ji atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_tr_glywfm_csw3t1 dir dir-ltr">
                                                                <div
                                                                    class="fgxpl5o atm_9s_1txwivl atm_h_1h6ojuz dir dir-ltr">
                                                                    <div
                                                                        class="ix1voun atm_gz_8tjzot atm_h0_1ixj6vq atm_5j_1896hn4 atm_ks_15vqwwr dir dir-ltr">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 32 32" aria-hidden="true"
                                                                            role="presentation" focusable="false"
                                                                            style="display: block; height: 20px; width: 20px; fill: currentcolor;">
                                                                            <path
                                                                                d="M30 0a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z">
                                                                            </path>
                                                                            <path fill="#fff"
                                                                                d="M16 4c6.76 0 12 4.95 12 11.64s-5.24 11.64-12 11.64c-1.22 0-2.38-.16-3.48-.46a.96.96 0 0 0-.51 0l-.12.05-2.39 1.05a.96.96 0 0 1-1.33-.74l-.01-.11-.07-2.14a.97.97 0 0 0-.32-.68A11.39 11.39 0 0 1 4 15.64C4 8.95 9.24 4 16 4zm7.2 8.96c.33-.51-.25-1.09-.75-.8l-.07.04-3.79 2.87a.72.72 0 0 1-.76.07l-.1-.07-2.8-2.1a1.8 1.8 0 0 0-2.52.36l-.09.12-3.52 5.6c-.33.5.26 1.08.75.8l.07-.05 3.79-2.87a.72.72 0 0 1 .77-.07l.1.07 2.8 2.1a1.8 1.8 0 0 0 2.52-.36l.08-.12z">
                                                                            </path>
                                                                        </svg>
                                                                    </div>
                                                                    <div
                                                                        class="cygf5r8 atm_c8_2x1prs atm_g3_1jbyh58 atm_fr_11a07z3 atm_cs_9dzvea atm_ks_15vqwwr atm_7l_dezgoh atm_vv_1q9ccgz atm_sq_1l2sidv dir dir-ltr">
                                                                        Messenger</div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                        <div
                                                            class="cm1n1wp atm_vy_1osqo2v atm_e2_12am3vd atm_kd_glywfm atm_9j_tlke0l atm_3f_1vlbu9m atm_5j_kitwna atm_73_usvi9m atm_26_1p8m8iw atm_26_116dmco_1nos8r dir dir-ltr">
                                                            <button role="link" type="button"
                                                                class="l1ovpqvx atm_1he2i46_1k8pnbi_10saat9 atm_yxpdqi_1pv6nv4_10saat9 atm_1a0hdzc_w1h1e8_10saat9 atm_ywwsz3_1afjdsa_10saat9 atm_1lnvhrj_zhgkwc_10saat9 atm_8i46q5_63ecz1_10saat9 bbkw4bl atm_9j_tlke0l atm_mk_h2mmj6 atm_70_5j5alw atm_tl_1gw4zv3 atm_9j_13gfvf7_1o5j5ji c1rxa9od atm_fr_11a07z3 atm_uc_1lizyuv atm_r2_1j28jx2 atm_26_1j28jx2 atm_3f_glywfm atm_5j_idpfg4 atm_7l_1kw7nm4 atm_9s_1ulexfb atm_gi_idpfg4 atm_l8_idpfg4 atm_r3_1kw7nm4 atm_rd_glywfm atm_e2_1osqo2v atm_vy_1osqo2v atm_bx_1kw7nm4 atm_c8_1kw7nm4 atm_g3_1kw7nm4 atm_cs_1kw7nm4 atm_kd_glywfm atm_uc_glywfm__1rrf6b5 atm_kd_glywfm_1w3cfyq atm_70_1b8lkes_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_kd_glywfm_pfnrn2_1oszvuo atm_70_1b8lkes_pfnrn2_1oszvuo atm_l8_idpfg4_1icshfk_1oszvuo atm_gi_idpfg4_1icshfk_1oszvuo atm_3f_glywfm_b5gff8_1oszvuo atm_kd_glywfm_2by9w9_1oszvuo atm_k4_kb7nvz_1o5j5ji atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_tr_glywfm_csw3t1 dir dir-ltr">
                                                                <div
                                                                    class="fgxpl5o atm_9s_1txwivl atm_h_1h6ojuz dir dir-ltr">
                                                                    <div
                                                                        class="ix1voun atm_gz_8tjzot atm_h0_1ixj6vq atm_5j_1896hn4 atm_ks_15vqwwr dir dir-ltr">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 32 32" aria-hidden="true"
                                                                            role="presentation" focusable="false"
                                                                            style="display: block; height: 20px; width: 20px; fill: currentcolor;">
                                                                            <path
                                                                                d="M30 0a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z">
                                                                            </path>
                                                                            <path fill="#fff"
                                                                                d="M22.94 16H18.5v-3c0-1.27.62-2.5 2.6-2.5h2.02V6.56s-1.83-.31-3.58-.31c-3.65 0-6.04 2.21-6.04 6.22V16H9.44v4.62h4.06V32h5V20.62h3.73z">
                                                                            </path>
                                                                        </svg>
                                                                    </div>
                                                                    <div
                                                                        class="cygf5r8 atm_c8_2x1prs atm_g3_1jbyh58 atm_fr_11a07z3 atm_cs_9dzvea atm_ks_15vqwwr atm_7l_dezgoh atm_vv_1q9ccgz atm_sq_1l2sidv dir dir-ltr">
                                                                        Facebook</div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                        <div
                                                            class="cm1n1wp atm_vy_1osqo2v atm_e2_12am3vd atm_kd_glywfm atm_9j_tlke0l atm_3f_1vlbu9m atm_5j_kitwna atm_73_usvi9m atm_26_1p8m8iw atm_26_116dmco_1nos8r dir dir-ltr">
                                                            <button role="link" type="button"
                                                                class="l1ovpqvx atm_1he2i46_1k8pnbi_10saat9 atm_yxpdqi_1pv6nv4_10saat9 atm_1a0hdzc_w1h1e8_10saat9 atm_ywwsz3_1afjdsa_10saat9 atm_1lnvhrj_zhgkwc_10saat9 atm_8i46q5_63ecz1_10saat9 bbkw4bl atm_9j_tlke0l atm_mk_h2mmj6 atm_70_5j5alw atm_tl_1gw4zv3 atm_9j_13gfvf7_1o5j5ji c1rxa9od atm_fr_11a07z3 atm_uc_1lizyuv atm_r2_1j28jx2 atm_26_1j28jx2 atm_3f_glywfm atm_5j_idpfg4 atm_7l_1kw7nm4 atm_9s_1ulexfb atm_gi_idpfg4 atm_l8_idpfg4 atm_r3_1kw7nm4 atm_rd_glywfm atm_e2_1osqo2v atm_vy_1osqo2v atm_bx_1kw7nm4 atm_c8_1kw7nm4 atm_g3_1kw7nm4 atm_cs_1kw7nm4 atm_kd_glywfm atm_uc_glywfm__1rrf6b5 atm_kd_glywfm_1w3cfyq atm_70_1b8lkes_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_kd_glywfm_pfnrn2_1oszvuo atm_70_1b8lkes_pfnrn2_1oszvuo atm_l8_idpfg4_1icshfk_1oszvuo atm_gi_idpfg4_1icshfk_1oszvuo atm_3f_glywfm_b5gff8_1oszvuo atm_kd_glywfm_2by9w9_1oszvuo atm_k4_kb7nvz_1o5j5ji atm_3f_glywfm_jo46a5 atm_l8_idpfg4_jo46a5 atm_gi_idpfg4_jo46a5 atm_3f_glywfm_1icshfk atm_kd_glywfm_19774hq atm_uc_aaiy6o_1w3cfyq atm_uc_glywfm_1w3cfyq_1rrf6b5 atm_uc_aaiy6o_pfnrn2_1oszvuo atm_uc_glywfm_pfnrn2_1o31aam atm_tr_glywfm_csw3t1 dir dir-ltr">
                                                                <div
                                                                    class="fgxpl5o atm_9s_1txwivl atm_h_1h6ojuz dir dir-ltr">
                                                                    <div
                                                                        class="ix1voun atm_gz_8tjzot atm_h0_1ixj6vq atm_5j_1896hn4 atm_ks_15vqwwr dir dir-ltr">
                                                                        <svg viewBox="0 0 32 32"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            aria-hidden="true" role="presentation"
                                                                            focusable="false"
                                                                            style="display: block; height: 20px; width: 20px; fill: currentcolor;">
                                                                            <g>
                                                                                <path
                                                                                    d="m4 0h24c2.209139 0 4 1.790861 4 4v24c0 2.209139-1.790861 4-4 4h-24c-2.209139 0-4-1.790861-4-4v-24c0-2.209139 1.790861-4 4-4z">
                                                                                </path>
                                                                                <path
                                                                                    d="m18.2761344 14.1623621 8.7424253-10.1623621h-2.071675l-7.5910467 8.8238362-6.0629468-8.8238362h-6.9928912l9.1683652 13.3432031-9.1683652 10.6567969h2.07179236l8.01634094-9.318271 6.4029159 9.318271h6.9928912l-9.5083148-13.8376379zm-2.8376036 3.2983977-.9289464-1.3286822-7.39129628-10.57246215h3.18215218l5.9648622 8.53231435.9289464 1.3286823 7.7536143 11.0907018h-3.1821522l-6.3271802-9.0500453z"
                                                                                    fill="#fff"></path>
                                                                            </g>
                                                                        </svg>
                                                                    </div>
                                                                    <div
                                                                        class="cygf5r8 atm_c8_2x1prs atm_g3_1jbyh58 atm_fr_11a07z3 atm_cs_9dzvea atm_ks_15vqwwr atm_7l_dezgoh atm_vv_1q9ccgz atm_sq_1l2sidv dir dir-ltr">
                                                                        Twitter</div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="_88xxct"></div>
                                        </div>
                                    </div>
                                    <div class="fz4xk0c atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts atm_h3_1n1ank9 dir dir-ltr"
                                        aria-hidden="true" tabindex="0"></div>
                                </div>
                            </div>
                        </section>
                        <div
                            class="a1hdtgic atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts atm_h3_1n1ank9 dir dir-ltr">
                            <div aria-live="polite" aria-atomic="true"></div>
                            <div aria-live="assertive" aria-atomic="true"></div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const taxToggle1 = document.getElementById("taxToggle1");
                    const taxToggle2 = document.getElementById("taxToggle2");
                    const prices = document.querySelectorAll(".price");

                    let showWithTax = false;

                    taxToggle1.addEventListener("click", toggleButton);
                    taxToggle2.addEventListener("click", toggleButton);

                    function toggleButton() {
                        showWithTax = !showWithTax;
                        taxToggle1.style.display = showWithTax ? "none" : "inline-block";
                        taxToggle2.style.display = showWithTax ? "inline-block" : "none";

                        // Calculate and update prices
                        prices.forEach((priceElement) => {
                            const price = parseFloat(priceElement.textContent.replace(/[^0-9.-]+/g, ""));
                            const taxRate = 0.0725; // Assuming a 7.25% tax rate
                            const newPrice = showWithTax ? price * (1 + taxRate) : price / (1 + taxRate);

                            priceElement.textContent = "$ " + newPrice.toFixed(2);
                        });
                    }
                });

                let filterPopup = document.getElementById("filterPopup");
                filterPopup.style.display = "none";
                let filterPopupButton = document.getElementById("filterPopupButton");
                let filerCloseButton = document.getElementById("filerCloseButton");

                filterPopupButton.addEventListener("click", () => {
                    if (filterPopup.style.display === "none") {
                        filterPopup.style.display = "block";
                    } else if (filterPopup.style.display === "block") {
                        filterPopup.style.display = "none";
                    }
                });

                filerCloseButton.addEventListener("click", () => {
                    filterPopup.style.display = "none";
                });

                document.addEventListener("DOMContentLoaded", function () {
                    const buttons = document.querySelectorAll(".Bedrooms");

                    buttons.forEach((button) => {
                        button.addEventListener("click", function () {
                            buttons.forEach((otherButton) => {
                                if (otherButton !== button) {
                                    otherButton.style.backgroundColor = "transparent";
                                    otherButton.style.color = "black";
                                    // otherButton.style.borderColor = 'transparent';
                                }
                            });
                            button.style.backgroundColor = "#222";
                            button.style.color = "white";
                        });
                    });
                });

                shareListing = document.getElementById("shareListing");
                shareListingButton = document.getElementById("shareListingButton");

                shareListingButton.addEventListener("click", () => {
                    shareListing.style.display = "none";
                });

                function hi() {
                    shareListing.style.display = "block";
                }

                function hi(listingId) {
                    console.log('Listing ID:', listingId);
                    const shareListing = document.getElementById("shareListing");
                    shareListing.style.display = "block";
                }

                async function showListingDetails(event) {
                    const button = event.currentTarget;
                    const listingId = button.getAttribute('data-id');

                    try {
                        const response = await fetch(`/api/listings/${listingId}`);
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        const { listing } = await response.json();
                        console.log('Listing details:', listing);

                        const shareListing = document.getElementById("shareListing");
                        const listingImage = shareListing.querySelector('img');
                        const listingTitle = document.getElementById("shareListingContent");

                        // Set the data-id attribute of the copy link button
                        const copyLinkButton = document.getElementById("copy-link-button");
                        copyLinkButton.setAttribute('data-id', listingId);

                        listingTitle.textContent = `Make a reservation for ${listing.title}`;

                        if (listingImage) {
                            listingImage.src = listing.image.url;
                        }

                        shareListing.style.display = "block";
                    } catch (error) {
                        console.error('There was a problem with the fetch operation:', error);
                    }
                }


                // Function to copy the listing link
                function copyListingLink(listingId) {
                    const listingLink = `${window.location.origin}/listings/${listingId}`;

                    navigator.clipboard.writeText(listingLink).then(() => {
                        console.log('Link copied:', listingLink);
                    }).catch((error) => {
                        console.error('Failed to copy link:', error);
                    });
                }

                // Add event listeners to all copy link buttons
                document.querySelectorAll('.copy-link-button').forEach(button => {
                    button.addEventListener('click', async () => {
                        try {
                            copyListingLink(document.getElementById("copy-link-button").getAttribute('data-id'));
                        } catch (error) {
                            console.error('Error:', error.message);
                        }
                    });
                });
            </script>

        </div>